body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
} */


a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* FORMULARIOS
*******************************************************************************/

.form-horizontal .radio-inline {
    padding-top: 0;
}

.datepicker {
    padding: 10px 18px !important;
    border-radius: 0 !important;
}

/* LISTAS
*******************************************************************************/
.header-list {
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}

.pagination {
    margin: 0;
}

.table .glyphicon {
    font-size: 18px;
}

.media .media-object {
    background: #808080 url(/Areas/Admin/AdminAreaRegistration.cs);
    height: 64px;
    width: 128px;
}